[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "lineupjs"]
	path = lineupjs
	url = https://github.com/lineupjs/lineup_htmlwidget
